@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
.main-header {
  width: 375px;
  height: 540px;
  margin: 0 auto;
  background-image: url("../img/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .main-header .navbar {
    padding: 20px 20px 0 20px;
    position: relative; }
    .main-header .navbar .mobileMenu {
      width: 310px;
      background-color: white;
      position: absolute;
      top: 100px;
      right: 20px;
      text-align: center; }
      .main-header .navbar .mobileMenu::before {
        content: '';
        border: 30px solid;
        height: 30px;
        border-top-color: transparent;
        border-right-color: white;
        border-left: 0;
        border-bottom: 0;
        position: absolute;
        top: -30px;
        right: 0; }
      .main-header .navbar .mobileMenu a {
        padding: 15px 0;
        margin: 0 100px; }
      .main-header .navbar .mobileMenu .nav-link {
        transition: 0.5s; }
        .main-header .navbar .mobileMenu .nav-link:hover {
          background-color: rgba(128, 128, 128, 0.1);
          border-radius: 40px;
          color: #fad400; }
  .main-header .navbar-light .navbar-toggler {
    color: white;
    padding: 0;
    border: none; }
    .main-header .navbar-light .navbar-toggler:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: none; }
  .main-header .navbar-light .navbar-toggler-icon {
    background-image: url("../img/icon-hamburger.svg");
    width: 1.2em;
    height: 1.2em;
    transition: 0.3s; }
    .main-header .navbar-light .navbar-toggler-icon:hover {
      opacity: .4; }
  .main-header .headerTitle {
    text-align: center;
    margin-top: 90px; }
    .main-header .headerTitle h1 {
      text-transform: uppercase;
      color: white;
      font-family: 'Fraunces', serif;
      font-size: 40px; }
  .main-header .arrowDown {
    height: 120px;
    text-align: center;
    margin-top: 50px; }

@media (min-width: 1200px) {
  .main-header {
    width: 100%;
    height: 800px;
    background-image: url("../img/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .main-header .navbar {
      padding: 30px 60px 0 60px; }
      .main-header .navbar .navbar-brand {
        width: 50%; }
      .main-header .navbar .desktopMenu {
        width: 50%;
        background-color: transparent;
        position: static;
        justify-content: flex-end; }
        .main-header .navbar .desktopMenu::before {
          display: none; }
        .main-header .navbar .desktopMenu a {
          color: white;
          padding: 15px 30px;
          margin: 0; }
    .main-header .headerTitle h1 {
      letter-spacing: 5px; }
    .main-header .arrowDown {
      margin-top: 180px; } }
.mainDiv {
  width: 375px;
  margin: 0 auto; }
  .mainDiv .firstArticle .yellowEgg, .mainDiv .firstArticle .pinkGlass, .mainDiv .secondArticle .yellowEgg, .mainDiv .secondArticle .pinkGlass {
    width: 100%;
    height: 310px;
    background-image: url("../img/mobile/image-transform.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .firstArticle .txtYellowEgg, .mainDiv .firstArticle .txtPinkGlass, .mainDiv .secondArticle .txtYellowEgg, .mainDiv .secondArticle .txtPinkGlass {
    background-color: white;
    text-align: center;
    padding-bottom: 70px; }
    .mainDiv .firstArticle .txtYellowEgg h2, .mainDiv .firstArticle .txtPinkGlass h2, .mainDiv .secondArticle .txtYellowEgg h2, .mainDiv .secondArticle .txtPinkGlass h2 {
      font-family: 'Fraunces', serif;
      font-size: 31px;
      padding: 70px 15px 10px;
      color: #23303e; }
    .mainDiv .firstArticle .txtYellowEgg p, .mainDiv .firstArticle .txtPinkGlass p, .mainDiv .secondArticle .txtYellowEgg p, .mainDiv .secondArticle .txtPinkGlass p {
      color: grey;
      font-size: 18px;
      line-height: 1.7;
      padding: 0 20px 10px; }
    .mainDiv .firstArticle .txtYellowEgg a, .mainDiv .firstArticle .txtPinkGlass a, .mainDiv .secondArticle .txtYellowEgg a, .mainDiv .secondArticle .txtPinkGlass a {
      font-family: 'Fraunces', serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #23303e;
      box-shadow: 0px 9px 20px 0px #fad400;
      transition: 0.4s; }
      .mainDiv .firstArticle .txtYellowEgg a:hover, .mainDiv .firstArticle .txtPinkGlass a:hover, .mainDiv .secondArticle .txtYellowEgg a:hover, .mainDiv .secondArticle .txtPinkGlass a:hover {
        box-shadow: 0px 9px 0px 0px #fad400; }
  .mainDiv .secondArticle .pinkGlass {
    background-image: url("../img/mobile/image-stand-out.jpg"); }
  .mainDiv .secondArticle .txtPinkGlass h2 {
    padding: 70px 40px 10px; }
  .mainDiv .secondArticle .txtPinkGlass a {
    box-shadow: 0px 9px 20px 0px #fc7766; }
    .mainDiv .secondArticle .txtPinkGlass a:hover {
      box-shadow: 0px 9px 0px 0px #fc7766; }
  .mainDiv .graphicDesign, .mainDiv .photography {
    height: 600px;
    position: relative;
    background-image: url("../img/mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .mainDiv .graphicDesign .txtGraphicDesign, .mainDiv .graphicDesign .txtPhotography, .mainDiv .photography .txtGraphicDesign, .mainDiv .photography .txtPhotography {
      position: absolute;
      top: 400px;
      text-align: center; }
      .mainDiv .graphicDesign .txtGraphicDesign h3, .mainDiv .graphicDesign .txtPhotography h3, .mainDiv .photography .txtGraphicDesign h3, .mainDiv .photography .txtPhotography h3 {
        font-family: 'Fraunces', serif;
        color: #25564b;
        font-size: 30px; }
      .mainDiv .graphicDesign .txtGraphicDesign p, .mainDiv .graphicDesign .txtPhotography p, .mainDiv .photography .txtGraphicDesign p, .mainDiv .photography .txtPhotography p {
        padding: 15px 12px 0;
        color: #25564b;
        font-size: 17px; }
  .mainDiv .photography {
    background-image: url("../img/mobile/image-photography.jpg"); }
    .mainDiv .photography .txtPhotography h3 {
      color: #19536b; }
    .mainDiv .photography .txtPhotography p {
      color: #19536b; }
  .mainDiv .clientTestimonials {
    background-color: white;
    text-align: center;
    padding: 65px 20px; }
    .mainDiv .clientTestimonials h4 {
      text-transform: uppercase;
      color: grey;
      font-family: 'Fraunces', serif;
      letter-spacing: 5px;
      font-size: 16px;
      padding-bottom: 60px; }
    .mainDiv .clientTestimonials .emily img, .mainDiv .clientTestimonials .thomas img, .mainDiv .clientTestimonials .jennie img {
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    .mainDiv .clientTestimonials .emily p, .mainDiv .clientTestimonials .thomas p, .mainDiv .clientTestimonials .jennie p {
      font-size: 17px;
      color: grey;
      padding: 30px 0 15px;
      line-height: 1.8; }
    .mainDiv .clientTestimonials .emily h5, .mainDiv .clientTestimonials .thomas h5, .mainDiv .clientTestimonials .jennie h5 {
      font-family: 'Fraunces', serif;
      font-size: 18px;
      padding-bottom: 10px; }
    .mainDiv .clientTestimonials .emily h6, .mainDiv .clientTestimonials .thomas h6, .mainDiv .clientTestimonials .jennie h6 {
      color: #c0c0c0;
      padding-bottom: 60px; }
    .mainDiv .clientTestimonials .jennie h6 {
      padding-bottom: 0; }
  .mainDiv .sunnysideGallery {
    background-color: red;
    width: 100%;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
    .mainDiv .sunnysideGallery .milkBottles, .mainDiv .sunnysideGallery .orangeCup, .mainDiv .sunnysideGallery .cone, .mainDiv .sunnysideGallery .sugarCubes {
      width: 50%;
      height: 50%;
      background-color: green;
      background-image: url("../img/mobile/image-gallery-milkbottles.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .mainDiv .sunnysideGallery .orangeCup {
      background-image: url("../img/mobile/image-gallery-orange.jpg"); }
    .mainDiv .sunnysideGallery .cone {
      background-image: url("../img/mobile/image-gallery-cone.jpg"); }
    .mainDiv .sunnysideGallery .sugarCubes {
      background-image: url("../img/mobile/image-gallery-sugar-cubes.jpg"); }

@media (min-width: 1200px) {
  .mainDiv {
    width: 100%; }
    .mainDiv .firstArticle .yellowEgg, .mainDiv .firstArticle .pinkGlass, .mainDiv .secondArticle .yellowEgg, .mainDiv .secondArticle .pinkGlass {
      width: 50%;
      height: 600px;
      background-image: url("../img/desktop/image-transform.jpg"); }
    .mainDiv .firstArticle .txtYellowEgg, .mainDiv .firstArticle .txtPinkGlass, .mainDiv .secondArticle .txtYellowEgg, .mainDiv .secondArticle .txtPinkGlass {
      width: 50%;
      height: 600px;
      text-align: left; }
      .mainDiv .firstArticle .txtYellowEgg h2, .mainDiv .firstArticle .txtPinkGlass h2, .mainDiv .secondArticle .txtYellowEgg h2, .mainDiv .secondArticle .txtPinkGlass h2 {
        font-size: 35px;
        padding: 200px 0px 10px 200px; }
      .mainDiv .firstArticle .txtYellowEgg p, .mainDiv .firstArticle .txtPinkGlass p, .mainDiv .secondArticle .txtYellowEgg p, .mainDiv .secondArticle .txtPinkGlass p {
        padding: 0 60px 10px 200px; }
      .mainDiv .firstArticle .txtYellowEgg a, .mainDiv .firstArticle .txtPinkGlass a, .mainDiv .secondArticle .txtYellowEgg a, .mainDiv .secondArticle .txtPinkGlass a {
        margin-left: 200px; }
    .mainDiv .firstArticle {
      position: relative; }
      .mainDiv .firstArticle .yellowEgg {
        position: absolute;
        right: 0; }
    .mainDiv .secondArticle .pinkGlass {
      background-image: url("../img/desktop/image-stand-out.jpg"); }
    .mainDiv .secondArticle .txtPinkGlass h2 {
      padding: 200px 50px 10px 200px; }
    .mainDiv .graphicDesign, .mainDiv .photography {
      width: 50%;
      background-image: url("../img/desktop/image-graphic-design.jpg"); }
      .mainDiv .graphicDesign .txtGraphicDesign, .mainDiv .graphicDesign .txtPhotography, .mainDiv .photography .txtGraphicDesign, .mainDiv .photography .txtPhotography {
        top: 380px; }
        .mainDiv .graphicDesign .txtGraphicDesign h3, .mainDiv .graphicDesign .txtPhotography h3, .mainDiv .photography .txtGraphicDesign h3, .mainDiv .photography .txtPhotography h3 {
          font-size: 33px; }
        .mainDiv .graphicDesign .txtGraphicDesign p, .mainDiv .graphicDesign .txtPhotography p, .mainDiv .photography .txtGraphicDesign p, .mainDiv .photography .txtPhotography p {
          padding: 25px 190px 0; }
    .mainDiv .photography {
      background-image: url("../img/desktop/image-photography.jpg"); }
    .mainDiv .clientTestimonials {
      text-align: center;
      padding: 140px 140px; }
      .mainDiv .clientTestimonials h4 {
        letter-spacing: 7px;
        word-spacing: 10px;
        font-size: 20px;
        padding-bottom: 100px; }
      .mainDiv .clientTestimonials .emily, .mainDiv .clientTestimonials .thomas, .mainDiv .clientTestimonials .jennie {
        width: 33%; }
        .mainDiv .clientTestimonials .emily p, .mainDiv .clientTestimonials .thomas p, .mainDiv .clientTestimonials .jennie p {
          padding: 50px 40px 40px; }
    .mainDiv .sunnysideGallery {
      width: 100%;
      height: 500px; }
      .mainDiv .sunnysideGallery .milkBottles, .mainDiv .sunnysideGallery .orangeCup, .mainDiv .sunnysideGallery .cone, .mainDiv .sunnysideGallery .sugarCubes {
        width: 25%;
        height: 100%;
        background-image: url("../img/desktop/image-gallery-milkbottles.jpg"); }
      .mainDiv .sunnysideGallery .orangeCup {
        background-image: url("../img/desktop/image-gallery-orange.jpg"); }
      .mainDiv .sunnysideGallery .cone {
        background-image: url("../img/desktop/image-gallery-cone.jpg"); }
      .mainDiv .sunnysideGallery .sugarCubes {
        background-image: url("../img/desktop/image-gallery-sugarcubes.jpg"); } }
.footerDiv {
  width: 375px;
  margin: 0 auto;
  text-align: center;
  background-color: #9bdbcb; }
  .footerDiv .footerLogo h2 {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 34px;
    padding: 60px 0 40px; }
  .footerDiv .footerLogo a {
    text-decoration: none;
    color: #2c7566; }
  .footerDiv .footerNav {
    padding: 0 30px 80px; }
    .footerDiv .footerNav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; }
      .footerDiv .footerNav ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #478e7f;
        transition: 0.3s; }
        .footerDiv .footerNav ul li a:hover {
          color: white; }
  .footerDiv .footerIcons {
    padding: 0 100px 80px; }
    .footerDiv .footerIcons ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; }
      .footerDiv .footerIcons ul img {
        transition: 0.2s; }
        .footerDiv .footerIcons ul img:hover {
          opacity: .5; }

@media (min-width: 1200px) {
  .footerDiv {
    width: 100%; }
    .footerDiv .footerNav {
      width: 25%;
      margin: 0 auto; }
    .footerDiv .footerIcons {
      width: 25%;
      margin: 0 auto; } }
body {
  font-family: 'Fraunces', serif;
  font-family: 'Barlow', sans-serif; }

/*# sourceMappingURL=main.css.map */
