.main-header {
  width: 375px;
  height: 540px;
  margin: 0 auto;
  background-image: url("../img/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .navbar {
    padding: 20px 20px 0 20px;
    position: relative;
    .mobileMenu {
      width: 310px;
      background-color: $white;
      position: absolute;
      top: 100px;
      right: 20px;
      text-align: center;
      &::before {
        content: '';
        border:30px solid;
        height: 30px;
        border-top-color: transparent;
        border-right-color: $white;
        border-left: 0;
        border-bottom: 0;
        position: absolute;
        top: -30px;
        right: 0;
      }
      a {
        padding: 15px 0;
      }
    }
  }
  .navbar-light {
    .navbar-toggler {
      color: white;
      padding: 0;
      border: none;
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
      }
    }
    .navbar-toggler-icon {
      background-image: url("../img/icon-hamburger.svg");
      width: 1.2em;
      height: 1.2em;
    }
  }
  .headerTitle {
    text-align: center;
    margin-top: 90px;
    h1 {
      text-transform: uppercase;
      color: $white;
      font-family: 'Fraunces', serif;
      font-size: 40px;
    }
  }
  .arrowDown {
    height: 120px;
    text-align: center;
    margin-top: 50px;
  }
}


@media (min-width: 1200px) {
  .main-header {
    width: 100%;
    height: 800px;
    background-image: url("../img/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .navbar {
      padding: 30px 60px 0 60px;
      .navbar-brand {
        width: 50%;
      }
      .desktopMenu {
        width: 50%;
        background-color: transparent;
        position: static;
        justify-content: flex-end;
        &::before {
          display: none;
        }
        a {
          color: $white;
          padding: 15px 30px;
        }
      }
    }
    .headerTitle {
      h1 {
        letter-spacing: 5px;
      }
    }
    .arrowDown {
      margin-top: 180px;
    }
  }
}
