.mainDiv {
  width: 375px;
  margin: 0 auto;
  .firstArticle, .secondArticle {
    .yellowEgg, .pinkGlass {
      // background-color: $yellow;
      width: 100%;
      height: 310px;
      background-image: url("../img/mobile/image-transform.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .txtYellowEgg, .txtPinkGlass {
      background-color: white;
      text-align: center;
      padding-bottom: 70px;
      h2 {
        font-family: 'Fraunces', serif;
        font-size: 31px;
        padding: 70px 15px 10px;
        color: $veryDarkDesaturatedCyan;
      }
      p {
        color: grey;
        font-size: 18px;
        line-height: 1.7;
        padding: 0 20px 10px;
      }
      a {
        font-family: 'Fraunces', serif;
        text-transform: uppercase;
        text-decoration: none;
        color: $veryDarkDesaturatedCyan;
        box-shadow: 0px 9px 20px 0px $yellow;
      }
    }
  }
  .secondArticle {
    .pinkGlass {
      background-image: url("../img/mobile/image-stand-out.jpg");
    }
    .txtPinkGlass {
      h2 {
        padding: 70px 40px 10px;
      }
      a {
        box-shadow: 0px 9px 20px 0px #fc7766;
      }
    }
  }
  .graphicDesign, .photography {
    height: 600px;
    position: relative;
    background-image: url("../img/mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .txtGraphicDesign, .txtPhotography {
      position: absolute;
      top: 400px;
      text-align: center;
      h3 {
        font-family: 'Fraunces', serif;
        color: $darkDesaturatedCyan;
        font-size: 30px;
      }
      p {
        padding: 15px 12px 0;
        color: $darkDesaturatedCyan;
        font-size: 17px;
      }
    }
  }
  .photography {
    background-image: url("../img/mobile/image-photography.jpg");
    .txtPhotography {
      h3 {
        color: $darkBlue;
      }
      p {
        color: $darkBlue;
      }
    }
  }
  .clientTestimonials {
    background-color: white;
    text-align: center;
    padding: 65px 20px;
    h4 {
      text-transform: uppercase;
      color: grey;
      font-family: 'Fraunces', serif;
      letter-spacing: 5px;
      font-size: 16px;
      padding-bottom: 60px;
    }
    .emily, .thomas, .jennie {
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      p {
        font-size: 17px;
        color: grey;
        padding: 30px 0 15px;
        line-height: 1.8;
      }
      h5 {
        font-family: 'Fraunces', serif;
        font-size: 18px;
        padding-bottom: 10px;
      }
      h6 {
        color: #c0c0c0;
        padding-bottom: 60px;
      }
    }
    .jennie {
      h6 {
        padding-bottom: 0;
      }
    }
  }
  .sunnysideGallery {
    background-color: red;
    width: 100%;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    .milkBottles, .orangeCup, .cone, .sugarCubes {
      width: 50%;
      height: 50%;
      background-color: green;
      background-image: url("../img/mobile/image-gallery-milkbottles.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .orangeCup {
      background-image: url("../img/mobile/image-gallery-orange.jpg");
    }
    .cone {
      background-image: url("../img/mobile/image-gallery-cone.jpg");
    }
    .sugarCubes {
      background-image: url("../img/mobile/image-gallery-sugar-cubes.jpg");
    }
  }
}



@media (min-width: 1200px) {
  .mainDiv {
    width: 100%;
    .firstArticle, .secondArticle {
      .yellowEgg, .pinkGlass {
        width: 50%;
        height: 600px;
        background-image: url("../img/desktop/image-transform.jpg");
      }
      .txtYellowEgg, .txtPinkGlass {
        width: 50%;
        height: 600px;
        text-align: left;
        h2 {
          font-size: 35px;
          padding: 200px 0px 10px 200px;
        }
        p {
          padding: 0 60px 10px 200px;
        }
        a {
          margin-left: 200px
        }
      }
    }
    .firstArticle {
      position: relative;
      .yellowEgg {
        position: absolute;
        right: 0;
      }
    }
    .secondArticle {
      .pinkGlass {
        background-image: url("../img/desktop/image-stand-out.jpg");
      }
      .txtPinkGlass {
        h2 {
          padding: 200px 50px 10px 200px;
        }
      }
    }
    .graphicDesign, .photography {
      width: 50%;
      background-image: url("../img/desktop/image-graphic-design.jpg");
      .txtGraphicDesign, .txtPhotography {
        top: 380px;
        h3 {
          font-size: 33px;
        }
        p {
          padding: 25px 190px 0;
        }
      }
    }
    .photography {
      background-image: url("../img/desktop/image-photography.jpg");
    }
    .clientTestimonials {
      text-align: center;
      padding: 140px 140px;
      h4 {
        letter-spacing: 7px;
        word-spacing: 10px;
        font-size: 20px;
        padding-bottom: 100px;
      }
      .emily, .thomas, .jennie {
        width: 33%;
        p {
          padding: 50px 40px 40px;
        }
      }
    }
    .sunnysideGallery {
      width: 100%;
      height: 500px;
      .milkBottles, .orangeCup, .cone, .sugarCubes {
        width: 25%;
        height: 100%;
        background-image: url("../img/desktop/image-gallery-milkbottles.jpg");
      }
      .orangeCup {
        background-image: url("../img/desktop/image-gallery-orange.jpg");
      }
      .cone {
        background-image: url("../img/desktop/image-gallery-cone.jpg");
      }
      .sugarCubes {
        background-image: url("../img/desktop/image-gallery-sugarcubes.jpg");
      }
    }
  }
}
